{% extends "chat/naked_skeleton.html" %}

{% block app_custom_styles %}
	<link rel="stylesheet" href="{% static 'chat/css/chat.css' %}"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/
							font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{% include content_file %}
{% endblock %}

{% block default_scripts %}
	{% include "includes/default_scripts.html" %}
{% endblock %}

{% block app_custom_scripts %}
	<script type='text/javascript' src="{% static '/chat/js/chat.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
{% endblock %}

