<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<!-- Make super cool emojis/ latex -->
	<meta charset="utf-8">
	<!-- proper sizing on mobile -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- if there is inline css in header, css file below won't work -->
	<link rel="icon" href="{% static 'global/img/j95_logo_icon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'global/css/bootswatch_flatly.css' %}"/>
  <!-- Missing global custom style sheet -->
	{% block app_custom_styles %}
	{% endblock %}
	{% block page_custom_styles %}
	{% endblock %}
  <!-- this needs to be put in templates, so that the template tag gets rendered by django -->
	<script>var csrf_token="{{ csrf_token }}";</script> 
</head>
<body>

{% block navbar %}
{% endblock %}

<!-- Missing contentwrapper because couldnt get it working with chat app -->
<div id="content">
  {% block content %}
  {% endblock %}
</div>

{% block default_scripts%}
{% endblock %}

{% block app_custom_scripts%}
{% endblock %}

{% block page_custom_scripts%}
{% endblock %}

</body>
</html>
